<html>
    <head>
        <title>SPCRMS</title>
        <!-- Bootstrap CSS -->
        <link defer href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
        <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
        <!-- Font Awesome Icons -->
        <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
        <!--shopping body css file link-->
        <link rel="stylesheet" href="/assets/css/shopping_body.css">
        <!--Swiper css file link-->
        <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css">
        <script> let info = <%- JSON.stringify(info) %> ; </script>
    </head>
    <body>
        <!-- header section starts -->
        <header class="header">

            <a href="/shopping" class="logo"> <i class="fas fa-shopping-basket"></i>GD Grocer</a>

        </header>
        <!-- header section ends -->
        <%- body %>
    </body>
</html>