<!-- home section starts-->

<section class="home" id="home">

    <div class="content">
        <h3>Our <span>Products</span></h3>
    </div>

</section>

<!-- home section ends -->

<section class="product" id="product"></section>

<section id="status" style="margin-top: 30px;">
    <span>Order Status</span>
    <div id="orderStatus" style="font-size: 15px;"></div>
</section>

<script src="/assets/js/shopping.js"></script>

